.device-list__item {
    background: white;
    padding: 15px;
    border: 1px green solid;
    border-radius: 3px;
    margin-top: 2px;
}

.device-list__title {
    display: inline-block;
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.device-list {
    max-height: calc(100% - 120px);
    overflow-y: auto;
}

.device-list ul {
    padding-left: 0;
}